* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #121212;
}

:root {
    --primary-color: #89898b;
    --secondary-color:#e1e1e1;
    --background-color:#18181C
}
